---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { EXPERIENCE } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Опыт работы">
  <div class="mt-2 space-y-4">
    {
      EXPERIENCE.slice(0, 3).map((exp) => (
        <div>
          <a class="text-lg font-semibold" href={exp?.link ?? ''}>
            {exp.company}
          </a>
          <h4 class="text-sm text-primary/70">{exp.position}</h4>
          <p class="text-sm text-foreground">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
    <a href={`${import.meta.env.BASE_URL}/work`}>
      <Button variant="default" size="sm" className="mt-4"> Узнать больше </Button>
    </a>
  </div>
</Card>
